.header__socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after{
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);
}

@media screen and (max-width: 600px) {
    header {
      height: 100vh;
    }
  
    .header__socials,
    .scroll__down {
      display: none;
    }
  }
  